backbone.marionette-atinux-books/assets/javascript/vendor
Marionette-Require-Boilerplate/node_modules
Marionette-Require-Boilerplate/public/js/libs
trial1/node_modules
trial1/public/js/vendors
xcmheader/node_modules
xcmheader/js/vendors